---
import "../styles/global.css";
import "bootstrap/dist/css/bootstrap.min.css";
import Navbar from "../components/Navbar.astro";

const title = "លក្ខខណ្ឌប្រើប្រាស់ - Xelleq";
const description = "Xelleq's term & condition";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph (for sharing on social media) -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <!-- Optional: <meta property="og:image" content="/social-preview.png" /> -->

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <Navbar />
    <h1 class="page-title mt-4"> លក្ខខណ្ឌប្រើប្រាស់របស់ Xelleq </h1>

    <div class="container mt-4 mb-4">
        <p> កែសម្រួល: ថ្ងៃទី ០៤ ខែសីហា ឆ្នាំ ២០២៥</p>

        <p>
            សូមស្វាគមន៍មកកាន់ <strong>Xelleq</strong>។
            ដោយការបង្កើតគណនី និងប្រើប្រាស់សេវារបស់ពួកយើង ពួកយើងសូមសន្មត់ថា អ្នកបានយល់ព្រមជាមួយលក្ខខណ្ឌប្រើប្រាស់របស់ Xelleq។ សូមធ្វើការអានដោយម៉ត់ចត់។
        </p>

        <h2 class="mt-4">១. លក្ខណៈសម្បត្តិនៃអ្នកប្រើប្រាស់ </h2>
        <p class="mt-4">
            Xelleq បង្កើតឡើងសំរាប់អ្នកប្រើប្រាស់ដែលមានអាយុចាប់ពី ១៣ ឆ្នាំឡើងទៅ។ ការចុះឈ្មោះបង្កើតគណនីរបស់អ្នកបានបញ្ចាក់ថា អ្នកមានអាយុលើសពី ១៣ ឆ្នាំ។ នៅក្នុងទំព័របង្កើតគណនីពួកយើងបានទាមទារនូវថ្ងៃខែឆ្នាំកំណើតរបស់អ្នក ដើម្បីធានាអោយបានលក្ខខណ្ឌនេះ។
        </p>

        <h2 class="mt-4"> ២. ការទទួលខុសត្រូវលើគណនីផ្ទាល់ខ្លួន </h2>
        <p class="mt-4">
            អ្នកប្រើប្រាស់ទាំងអស់ត្រូវបង្កើតគណនីដោយប្រើប្រាស់ឈ្មោះ (អាចជាឈ្មោះពិត
            ឬក្លែងក្លាយ) លេខសម្ងាត់ និងអ៊ីម៉ែលត្រឹមត្រូវច្បាស់លាស់។ ឈ្មោះរបស់អ្នកនឹងត្រូវបង្ហាញជាសាធារណៈ រីឯអ៊ីម៉ែលនឹងត្រូវរក្សាជាឯកជន។ អ្នកត្រូវទទួលខុសត្រូវក្នុងការរក្សាទុកនូវពត៍មានផ្ទាល់ខ្លួនរបស់អ្នក។
        </p>

        <h2 class="mt-4"> ៣. ការប្រើប្រាស់ទាក់ទងនឹងមាតិកា </h2>
        <p class="mt-4">
            អ្នកប្រើប្រាស់អាចធ្វើការបង្កើតមាតិកាជាលក្ខណៈបែបអក្សរ រូបភាព វីដេអូ ឯកសារ និងសំលេង
            នៅក្នុងការជជែកគ្នា ការបង្ហោះមាតិកា និងនៅកន្លែងផ្ទុកទិន្នន័យ។
        </p>

        <h2 class="mt-4"> ៤. មាតិកាដែលនឹងត្រូវហាមឃាត់ </h2>
        <p class="mt-4"> អ្នកប្រើមិនត្រូវបង្កើត ឬចែករំលែកមាតិកាដែលមានដូចជា៖ </p>
        <ul>
          <li> មាតិកាដែលជំរុញឱ្យមានសកម្មភាពខុសច្បាប់ </li>
          <li> ការគំរាមកំហែង ប្រើពាក្យអាម៉ាស់ ឬការរើសអើង </li>
          <li> រូបភាពអាសអាភាស ឬអំពើហិង្សា </li>
          <li> សារភូតកុហក ឬការលួចបន្លំ (ឧ. ការលួចគណនី) </li>
          <li> ការរំលោភលើសិទ្ធិអ្នកដទៃ </li>
        </ul>
        <p> ការបំពាន និងរំលោភអាចបណ្តាលឱ្យមានការលុបមាតិកា ឬផ្អាកគណនីដោយមិនជូនដំណឹងជាមុន។ </p>


        <h2 class="mt-4"> ៥. មុខងារសម្លេង </h2>
        <p class="mt-4">
            Xelleq ប្រើសេវាកម្ម <strong>Agora</strong>
            សម្រាប់ការហៅជាសម្លេង។ ដោយប្រើមុខងារនេះ អ្នកក៏បានយល់ព្រមជាមួយ <a href="https://www.agora.io/en/terms-of-service/" target="_blank"> លក្ខខណ្ឌរបស់ Agora</a> ផងដែរ។
        </p>

        <h2 class="mt-4"> ៦. ការការពារឯកជនភាព និងទិន្នន័យផ្ទាល់ខ្លួន</h2>
        <p class="mt-4"> យើងប្រមូល និងរក្សាទុកទិន្នន័យរបស់អ្នកប្រើដូចខាងក្រោម៖</p>
        <ul>
          <li> ឈ្មោះអ្នកប្រើ អ៊ីមែល និងថ្ងៃខែឆ្នាំកំណើត</li>
          <li> រូបភាពផ្ទាល់ខ្លួន (មានក៏បាន អត់ក៏បាន)</li>
          <li> សារ ការចូលរួមវេទិកា </li>
          <li> ប្រវត្តិចូលចិត្ត ការរក្សាទុក និងប្រកាសផ្ទាល់ខ្លួន </li>
        </ul>
        <p>
            ទិន្នន័យត្រូវបានរក្សាទុកដោយសុវត្ថិភាព ប៉ុន្តែសូមកុំផ្ទុកព័ត៌មានផ្ទាល់ខ្លួនដែលមិនមាន
            សុវត្ថិភាពសំរាប់អ្នក។
        </p>

        <h2 class="mt-4"> ៧. ការផ្លាស់ប្ដូរលក្ខខណ្ឌរបស់ Xelleq</h2>
        <p class="mt-4">
            ពួកយើងអាចនឹងធ្វើការផ្លាស់ប្ដូរលក្ខខណ្ឌណាមួយនៅថ្ងៃខាងមុខ។ ពួកយើងនឹងធ្វើការ ជូនដំណឹងដល់អ្នកប្រើប្រាស់ទាំងអស់។ ការបន្តប្រើប្រាស់ Xelleq មានន័យថាអ្នកយល់ព្រមនឹងអ្វីដែលបានផ្លាស់ប្ដូរ។
        </p>

        <h2 class="mt-4"> ៨. ផ្លូវច្បាប់</h2>
        <p class="mt-4">
            លក្ខខណ្ឌទាំងអស់នេះបង្កើតឡើងដោយសមស្របជាមួយនឹងច្បាប់នៃព្រះរាជាណាចក្រកម្ពុជា។ បើសិនជាអ្នកប្រើប្រាស់ Xelleq នៅក្រៅប្រទេសកម្ពុជា សូមប្រើប្រាស់ដោយការទទួលខុសត្រូវ។
        </p>

        <h2 class="mt-4"> ៩. ទំនាក់ទំនង</h2>
        <p class="mt-4">
            បើសិនជាអ្នកមានសំណួរទាក់ទងនឹងលក្ខខណ្ឌខាងលើ សូមមេត្តាទាក់ទងក្រុមការងារពួកយើងតាមរយៈអ៊ីម៉ែល <strong>support@xelleq.com</strong>.
        </p>

        <p class="mt-4"> សូមអរគុណសម្រាប់ការប្រើប្រាស់របស់ Xelleq។</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
  </body>
</html>
